html,body,div,span,object,button,iframe,h1,h2,h3,h4,h5,h6,p,a,img,dl,dt,dd,ol,ul,li,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,footer,header,hgroup,menu,nav,section,audio,video{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3","\5FAE\8F6F\96C5\9ED1",helvetica,Arial;
	font-size: 100%;
	vertical-align: baseline
}

article,aside,dialog,footer,header,section,footer,nav,figure,menu{
	display: block
}

html,body{
	height: 100%;
}

a{
	text-decoration: none;
	color: #42b4da;
}

label{
	cursor: pointer;
}

select{
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 12px;
	padding: 2px;
}

body{
	min-width: 1273px;
}

.menu{
	width: 78px;
	background: #60ACAB;
	height: 100%;
	min-height: 600px;
	position: fixed;
	float: left;
	z-index: 2;
	box-shadow: -2px 0 6px rgba(39,40,34,.2) inset;
}

.logo{
	width: 78px;
	height: 55px;
	background: #7DC5C4;
	text-align: center;
	box-shadow: -2px 1px 5px rgba(39,40,34,.1) inset;
}

.logo img{
	margin-top: 9px;
}

.footer{
	width: 78px;
	text-align: center;
	font-size: 12px;
	position: absolute;
	bottom: 16px;
}

.footer p{
	margin-top: 6px;
}

.footer a{
	color: #fff
}

.navbar{
	width: 78px;
	text-align: center;
	margin-top: 10px
}

.nav{
	width: 64px;
	height: 57px;
	display: block;
	margin: 0 auto 7px auto;
	font-size: 12px;
	padding-top: 8px;
}

.nav:active{
	background: #3A9596;
	border-radius: 6px
}

.n_on{
	background: #3A9596;
	border-radius: 6px
}

.nav_ad,.nav_loca,.nav_mat,.nav_ord,.nav_data,.nav_info{
	width: 32px;
	height: 30px;
	display: block;
	margin: 0 auto;
}

.nav_ad{
	background:url(../img/icons.png) no-repeat -6px -41px;
}

.n_on .nav_ad{
	background:url(../img/icons.png) no-repeat -6px -6px;
}

.nav_loca{
	background:url(../img/icons.png) no-repeat -48px -41px;
}

.n_on .nav_loca{
	background:url(../img/icons.png) no-repeat -48px -6px;
}

.nav_mat{
	background:url(../img/icons.png) no-repeat -90px -41px;
}

.n_on .nav_mat{
	background:url(../img/icons.png) no-repeat -90px -6px;
}

.nav_ord{
	background:url(../img/icons.png) no-repeat -130px -41px;
}

.n_on .nav_ord{
	background:url(../img/icons.png) no-repeat -130px -6px;
}

.nav_data{
	background:url(../img/icons.png) no-repeat -171px -41px;
}

.n_on .nav_data{
	background:url(../img/icons.png) no-repeat -171px -6px;
}

.nav_info{
	background:url(../img/icons.png) no-repeat -212px -41px;
}

.n_on .nav_info{
	background:url(../img/icons.png) no-repeat -212px -6px;
}


.nav p{
	color: #fff;
	margin-top: 1px;
}

.n_on .nav_arrow{
	width: 5px;
	height:	11px;
	display: block;
	position: absolute;
	left:0;
	background: url(../img/arrow.png);
	margin: 18px 0 0 73px;
}
.ad_on_num{
	min-width:12px;
	height:12px;
	position: absolute;
	display: block;
	left: 0;
	padding: 2px;
	background: #E2834A;
	border: 2px solid #fff;
	border-radius: 20px;
	color: #fff;
	font-size: 12px;
	line-height: 12px;
	margin: -6px 0 0 45px;
}

.bline{
	width: 62px;
	height: 1px;
	display: block;
	margin:0 auto;
	background: #70B4B4;
	border: 0;
	margin-bottom:7px;
}

#main{
	height: 100%;
	min-height: 600px;
}

.board{
	height: 100%;
	width: 1165px;
	margin-left: 78px;
	position: relative;
	z-index: 1;
}

/*page:ads*/

.main_ad{
	padding: 30px 0 30px 30px;
}

.topic_ad h2{
	font-size: 25px;
	font-weight: normal;
	color: #333;
	display: inline;
}

.topic_ad_num1{
	color: #6AA730;
	font-weight: bold;
	margin: 0 5px;
}

.topic_ad_num2{
	color: #6FA3D7;
	font-weight: bold;
	margin: 0 5px;
}

.timetable_ad{
	font-size: 14px;
	margin-left: 20px;
	vertical-align: text-top;
	line-height:14px;
}

.addAd_ad{
	width: 125px;
	height: 40px;
	display: inline-block;
	background: #EF9B24;
	color: #fff;
	text-align: center;
	vertical-align: top;
	line-height: 40px;
	float: right;
	border-radius: 5px;
}

.addAd_ad:hover{
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.3);
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,.3);
	-o-box-shadow: 0 2px 6px rgba(0,0,0,.3);
	-ms-box-shadow: 0 2px 6px rgba(0,0,0,.3);
	box-shadow: 0 2px 6px rgba(0,0,0,.3);
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.filter_ad{
	margin-top: 35px
}

#sele_ads{
	width: 180px;
	display: inline-block;
}

.cont_ad{
	margin-top: 25px;
}

.list_ad{
	width: 1145px;
	height: 90px;
	margin-bottom: 8px;
}

.list_ad:hover .list_ops_ad{
	display: block;
}

.ing_ad{
	background: #F5FAEF;
}

.ing_ad:hover{
	background: #ECF4E1;
}

.wait_ad{
	background: #EBF7FA;
}

.wait_ad:hover{
	background: #DFF1F5;
}

.list_left_ad{
	width: 430px;
	height: 90px;
	float: left;
	overflow: hidden;
}

.list_tit_ad{
	font-size: 24px;
	margin:16px 0 0 20px;
}

.ing_ad .list_tit_ad{
	color: #507C24;
}

.wait_ad .list_tit_ad{
	color: #4E93AB;
}

.view_ad{
	width: 21px;
	height: 21px;
	background:url(../img/icons.png) no-repeat -9px -80px;
	display: inline-block;
	vertical-align: bottom;
	margin:0 0 3px 10px;
}

.list_oth_ad{
	font-size: 13px;
	margin:4px 0 0 20px;
}

.list_time_ad{
	height: 65px;
	width: 170px;
	float: left;
	text-align: center;
	font-size: 13px;
	color: #555;
	padding-top: 23px;
}

.list_time_ad p{
	margin-bottom: 8px;
}

.ing_ad .list_time_ad{
	background: #EEF6E4;
}

.ing_ad:hover .list_time_ad{
	background: #DFECCF;
}

.wait_ad .list_time_ad{
	background: #DEF1F6;
}

.wait_ad:hover .list_time_ad{
	background: #CBE8EE;
}

.list_ops_ad{
	height: 90px;
	position: absolute;
	right: 0;
	margin:10px 15px 0 0;
	text-align: right;
	display: none;
}

.list_ops_ad p{
	margin-bottom: 2px;
}

.list_ops_ad a{
	color: #666;
	font-size: 13px;
}

.list_ops_ad a:hover{
	color: #42b4da;
}


/*page:tita*/

.main_tita{
	padding: 30px 0 30px 30px;
}

.tit_tita{
	font-size: 25px;
	color: #333;
}

.back_tita{
	font-size: 14px;
	margin-left: 10px;
	display: inline-block;
	vertical-align: top;
	line-height: 35px;
}

.filter_tita{
	margin-top: 25px;
}

.sele_tita{
	width: 150px;
	display: inline-block;
	margin-right: 10px;
}

.egs_tita{
	width: 150px;
	float: right;
	font-size: 12px;
	margin-right: 10px;
	line-height: 30px;
}

.eg1_tita{
	width: 17px;
	height: 17px;
	display: inline-block;
	border: 1px solid #bbb;
	margin:0 5px 0 0;
}

.eg2_tita{
	width: 17px;
	height: 17px;
	display: inline-block;
	border: 1px solid #B3DBE4;
	background: #B3DBE4;
	margin:0 5px 0 20px;
}

.text_eg_tita{
	display:inline-block;
	line-height:22px;
	vertical-align:top;
}

.cont_tita{
	width: 99%;
	height: 500px;
	border: 1px solid #ccc;
	margin-top: 25px;
}

/*page:loca*/

.main_loca{
	padding: 30px 0 30px 30px;
}

.topic_loca h2{
	font-size: 25px;
	font-weight: normal;
	color: #333;
	display: inline;
}

.topic_loca_num1{
	color: #6FA3D7;
	font-weight: bold;
	margin: 0 5px;
}

.topic_loca_num2{
	color: #6AA730;
	font-weight: bold;
	margin: 0 5px;
}

.timetable_loca{
	font-size: 14px;
	margin-left: 20px;
	vertical-align: text-top;
	line-height:14px;
}

.addLoca_loca{
	width: 125px;
	height: 40px;
	display: inline-block;
	background: #EF9B24;
	color: #fff;
	text-align: center;
	vertical-align: top;
	line-height: 40px;
	float: right;
	border-radius: 5px;
}

.addLoca_loca:hover{
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.3);
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,.3);
	-o-box-shadow: 0 2px 6px rgba(0,0,0,.3);
	-ms-box-shadow: 0 2px 6px rgba(0,0,0,.3);
	box-shadow: 0 2px 6px rgba(0,0,0,.3);
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.filter_loca{
	margin-top: 35px
}

#sele_chan,#sele_state{
	width: 160px;
	display: inline-block;
	margin-right: 8px;
}

.cont_loca{
	margin-top: 25px;
}

.list_loca{
	width: 1145px;
	height: 90px;
	margin-bottom: 8px;
}

.list_loca:hover .list_ops_loca{
	display: block;
}

.ing_loca{
	background: #F5FAEF;
}

.ing_loca:hover{
	background: #ECF4E1;
}

.non_loca{
	background: #FBF4DE;
}

.non_loca:hover{
	background: #F8EFD3;
}

.pla_loca{
	background: #EBF7FA;
}

.pla_loca:hover{
	background: #DFF1F5;
}

.list_left_loca{
	width: 440px;
	height: 90px;
	float: left;
	overflow: hidden;
}

.list_tit_loca{
	font-size: 24px;
	margin:16px 0 0 20px;
}

#list_chan_loca{
	margin-left: 10px
}

.ing_loca .list_tit_loca{
	color: #507C24
}

.non_loca .list_tit_loca{
	color: #EF9B24
}

.pla_loca .list_tit_loca{
	color: #5CA9BE
}

.list_oth_loca{
	font-size: 13px;
	margin:4px 0 0 20px;
	color: #666;
}

.list_oth_loca span{
	margin-right: 5px;
}

.list_state_loca{
	height: 72px;
	width: 115px;
	float: left;
	text-align: center;
	font-size: 14px;
	color: #555;
	padding-top: 16px;
}

.ing_loca .list_state_loca{
	background: #EEF6E4
}

.ing_loca:hover .list_state_loca{
	background: #DFECCF
}

.non_loca .list_state_loca{
	background: #F8ECCA
}

.non_loca:hover .list_state_loca{
	background: #F3E4BA
}

.pla_loca .list_state_loca{
	background: #DEF1F6
}

.pla_loca:hover .list_state_loca{
	background: #CBE8EE
}

.ing_loca #list_snum_loca{
	font-size: 30px;
	font-weight: bold;
}

.non_loca #list_snum_loca{
	font-size: 16px;
	line-height: 56px;
	color: #EF9B24;
}

.pla_loca #list_snum_loca{
	font-size: 16px;
	line-height: 56px;
	color: #5CA9BE;
}

.list_ops_loca{
	height: 90px;
	position: absolute;
	right: 0;
	margin:34px 15px 0 0;
	text-align: right;
	display: none;
}

.list_ops_loca a{
	color: #666;
	font-size: 13px;
	margin-right: 8px;
}

.list_ops_loca a:hover{
	color: #42b4da;
}


/*also_slider*/

.also_slider{
	position: fixed;
	width: 0;
	height: 100%;
	background: #fff;
	left: 0;
	top: 0;
	opacity:0;
	margin-left: 1174px;
	box-shadow: -6px 0 10px rgba(0,0,0,.3);
	text-align: left;
	overflow-y: auto;
}

.also_locker{
	opacity: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
}

.also_close{
	width: 18px;
	height: 18px;
	background:url(../img/icons.png) no-repeat -42px -82px;
	display: block;
	float: right;
	position: fixed;
	top: 0;
	right: 0;
	margin: 15px;
}

/*addSite*/
.addSi{
	width: 720px;
	padding: 20px 0 0 30px;
}

.addSi .topic_addSi{
	font-weight: 0;
	font-size: 26px;
	color: #333;
	margin-bottom: 20px;
}

.addSi input[type="text"]{
	color: #999;
	height: 22px;
	border: 1px solid #ccc;
	padding:3px;
	border-radius: 4px;
	font-size: 13px;
	line-height: 22px;
}

.board_addSi{
	width: 686px;
	border: 1px solid #EAEAEA;
	background: #F9F9F9;
	margin-top: 12px;
	padding: 18px;
}

.tit_addSi{
	font-size: 18px;
	color: #333;
}

.cont_addSi{
	margin-top: 18px;
}

#name_addSi{
	width: 205px;
}

#remark_addSi{
	width: 420px;
}

#chan_addSi{
	width: 220px;
}

.tts_addSi{
	margin-top: 12px;
}

.tts_addSi span{
	margin-right: 15px;
	font-size: 14px;
}

.also_helper{
	width: 14px;
	height: 14px;
	margin-left: 5px;
	display: inline-block;
	background: #ccc;
	color: #fff;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	border-radius: 20px;
}

.also_helper:hover{
	background: #bbb;
}

.tit2_addSi{
	margin-top: 16px;
	font-size: 14px;
}

.sis_addSi{
	margin-top: 8px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}


#size1_addSi,#size2_addSi,#size3_addSi{
	width: 220px;
}

#t_size1_addSi,#t_size2_addSi,#t_size3_addSi{
	font-size: 14px;
	margin-left: 10px;
}

#diy1_addSi{
	display: none;
}

#diy2_addSi{
	display: none;
}

#diy3_addSi{
	display: none;
}

#gty_addSi,#ore_addSi{
	width: 100px;
}

.borp_addSi{
	margin-left: 16px;
}

#ver_addSi,#hor_addSi{
	width: 80px;
	margin-right: 5px;
}

#stp2_addSi{
	display: none;
}

#stp_addSi{
	width: 80px;
	margin-right: 5px;
}

#btn_stp_addSi{
	font-size: 14px;
	margin-left: 5px;
}

.intex_addSi{
	width: 77px;
}

.tru_addSi{
	font-size: 16px;
}

.tru1_addSi{
	color: #aaa;
	font-size: 14px;
	margin-top: 3px;
	padding-left: 5px;
}

.btns_addSi{
	margin: 50px 0 50px 0;
}

#save_addSi{
	width: 180px;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	color: #fff;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	cursor: pointer;
}

.save_addSi_1{
	background: #EF9B24;
}

.sav_addSi:hover{
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.3);
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,.3);
	-o-box-shadow: 0 2px 6px rgba(0,0,0,.3);
	-ms-box-shadow: 0 2px 6px rgba(0,0,0,.3);
	box-shadow: 0 2px 6px rgba(0,0,0,.3);
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.save_addSi_2{
	background: #ccc;
	cursor: default;
}



#cancel_addSi{
	margin-left: 30px;
}

/*also_tips*/
.also_tips{
	position: absolute;
	font-size: 14px;
	margin-left: 15px;
	vertical-align: text-bottom;
}


/*bubble_tips*/
.tit_bub{
	font-size: 12px;
	color:#999;
	width: 240px;
	text-align: left;
	margin: 6px;
}

.cont_bub{
	font-size: 13px;
	color: #333;
	width: 240px;
	text-align: left;
	margin: 3px 6px 8px 6px;
	line-height: 22px;
}

/*tip-fff*/
.tip-fff {
	z-index:1000;
	text-align:left;
	border:1px solid #ccc;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:6px 8px;
	min-width:50px;
	max-width:300px;
	color:#000;
	background-color:#fff;
	/**
	 * - If you set a background-image, border/padding/background-color will be ingnored.
	 *   You can set any padding to .tip-inner instead if you need.
	 * - If you want a tiled background-image and border/padding for the tip,
	 *   set the background-image to .tip-inner instead.
	 */
}
.tip-fff .tip-inner {
	font:12px/16px arial,helvetica,sans-serif;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-fff .tip-arrow-top {
	margin-top:-6px;
	margin-left:-5px; /* approx. half the width to center it */
	top:0;
	left:50%;
	width:9px;
	height:6px;
	background:url(../img/tip-fff_arrows.gif) no-repeat;
}
.tip-fff .tip-arrow-right {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:0;
	top:50%;
	left:100%;
	width:6px;
	height:9px;
	background:url(../img/tip-fff_arrows.gif) no-repeat -9px 0;
}
.tip-fff .tip-arrow-bottom {
	margin-top:0;
	margin-left:-5px; /* approx. half the width to center it */
	top:100%;
	left:50%;
	width:9px;
	height:6px;
	background:url(../img/tip-fff_arrows.gif) no-repeat -18px 0;
}



.tip-fff .tip-arrow-left {
	margin-top:-6px;
	margin-left:-124px; /* approx. half the width to center it */
	top:0;
	left:50%;
	width:9px;
	height:6px;
	background:url(../img/tip-fff_arrows.gif) no-repeat;
}

/*.tip-fff .tip-arrow-left {
	margin-top:-4px; 
	margin-left:-6px;
	top:50%;
	left:0;
	width:6px;
	height:9px;
	background:url(../img/tip-fff_arrows.gif) no-repeat -27px 0;
}*/




/*pages*/
.pages_box{
	margin-top: 20px;
	text-align: right;
}

.pagination a {
    text-decoration: none;
	color: #555;
}

.pagination a:hover {
    text-decoration: none;
	color: #88D0E8;
}


.pagination a, .pagination span {
    display: inline-block;
    padding: 0.1em 0.4em;
    margin-right: 5px;
	margin-bottom: 5px;
	font-size: 14px;
}

.pagination .current {
    color: #88D0E8;
}

.pagination .current.prev, .pagination .current.next{
	color:#555;
	background:#fff;
}
